# Python
__pycache__/

# Virtual environments
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
.DS_Store?

# Docker
Dockerfile
.dockerignore
docker-compose*.yml